.warn {background-color: #fcc100;border-radius: 10px; }
.success {background-color: #6cc788;border-radius: 10px;}
.info {background-color: #6887ff;border-radius: 10px;}
.warning {background-color: #f77a99;border-radius: 10px;}
.danger {background-color: #E9333D;border-radius: 10px;}
.blue {background-color: #2196f3;border-radius: 10px;}
.review {background-color: #9772EC;border-radius: 10px;}
.pull-right {float: right}
.panel-heading {padding: 20px 20px 10px 25px;color:#ffffff;}
.panel-count{font-size: 32px; font-weight: bold;line-height: 30px;}
.panel-lable{font-size: 18px; font-weight: normal;padding: 0px 0px 0px 15px;}
.dash-head-part{padding-bottom: 25px;}
.panel-footer {padding: 10px 15px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;color: #ffffff; font-size: .95rem;}